.currency-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
}

.currency-header {
    background-color: #3c3f58;
    border-radius: 8px 8px 0 0;
    color: #f9f9f9;
    padding: 10px;
    margin: -20px -20px 10px -20px;
}

.currency-header h2 {
    margin: 0;
}

.currency-details {
    font-size: 1.2em;
}

.currency-details p {
    margin: 0;
    font-weight: 600;
    color: #333;
}